body {
    background-image: url('/img/back2.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    color: #FFF;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 0.1vw solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 1vh;
}

/* -- navbar -- */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center
}

#navbar img{
    width: 18%;
}

#navbar span{
    font-size: 1.9cap;
    font-weight: bold;
    color: #757575;
    text-decoration: none;
}

#navbar span:hover{
    color: #1E90FF;
}

#navbar ion-icon{
    font-size: 1.6cap;
    color: #757575;
}

#navbar ion-icon:hover{
    color: #1E90FF;
}

#navbar a{
    font-size: 1.7cap;
    color: #757575;
}

#navbar a:hover{
    color: #1E90FF;
}

/* -- desc-page -- */

#desc-page {
    margin-bottom: 2vh;
}

.container h2{
    margin-top: 10vh;
}

#prods li{
    margin-top: 1%;
    padding-left: 10%;
}

#cards-container{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 0.3vw;
    padding: 0;
    margin: .5%;
}

/* -- product-page -- */

#container-show h2{
    font-weight: bolder;
    text-transform: capitalize;
}

#desc-prod-show p{
    font-size: 1.9cap;
}

#image-container-show{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
#image-container-show img{
    border-radius: 1cap;
}

/* -- footer -- */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightgray;
    color: #000;
    padding: 1vh;
    position: relative;
    margin-top: auto;
}
footer p {
    margin-bottom: 0;
}